<% provide(:title,  t('content.contact')) %>

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row margin-bottom-30">
    		<div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2><%= t('content.contact')%></h2></div>
               <p>Contact us:</p>
                <p>Phone: 1-888-808-8168</p>
                <p>Email: info@247clinic.ca</p>
                <p>Our Office is located in the Greater Lower Vancouver Area</p>
               <br />

    			
            </div><!--/col-md-9-->

    		<div class="col-md-3">
            	<!-- Contacts -->
                <div class="headline"><h2>Contact Information</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>1615 10th Ave SW Unit 206B</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@247clinic.ca</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>1 888 808 8168</a></li>
                </ul>

            

            	<!-- Why we are? -->
               
            </div><!--/col-md-3-->
        </div><!--/row-->

       
    </div><!--/container-->
    <!--=== End Content Part ===-->
