<% provide(:title, t('content.francis')) %>

   

<body>
<div class="wrapper">
    

    <!--=== Team v5 ===-->
    <div class="container">
        <div class="headline-center margin-bottom-1">
        </div>

        <div class="row team-v5 margin-bottom-30">
            
            
            <div class="col-sm-3">
                <div class="team-img">
                    <%= image_tag '10329705_1014594918634956_3814649206592667887_o.jpg', size: "16x300" %>
                </div>
            </div>
                <h3 align="left"> Francis Tran </h3>
                <h6 align="left">Software Intern</h6>
                <hr style="height:1px; border:none; color:#808080; background-color:#808080;" />
               <p align = "left">Francis Tran is a 3rd year undergrad student studying Engineering Science at SFU with a concentration in Electronics Engineering. Although devoted to 
                               his job, his other interests include hiking, skating, skiing and snowboarding, and anything outdoors related.</p>
            </div>
        </div><!--/end team v5-->
    </div>
    <!--=== End Team v5 ===-->

    <hr class="margin-bottom-10">

    <!--=== Team v6 ===-->


   
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->



</body>

