<% provide(:title, t('content.help')) %>
<!DOCTYPE html>
<h1><%= t('content.help') %></h1>
<p>How can we help you? "Get help now!"</p>
<p>Need immediate assistance please contact your Family physician.</p>
<p>In case of an emergency please call 911</p>
<p>For other general inquiry try our toll free line: 1-800-123-4567</p>

<p>
  For more personal help please check-out our leading member Francis Tran personal page:
  <a href="https://www.facebook.com/francis.tran.967?fref=ts">(Junior Advisor)</a>
</p>


