<% provide(:title, "Jobs") %>
  <div class="container content-sm">
    <!--=== Job Img ===-->
    <div class="job-img margin-bottom-2">
        <div class="job-banner">
            <h2>Find the perfect fit to start your career!</h2>
            <p>We are currently looking for directors, enthusiastic web-developers and more to join our team.</p>
            <p>There are currently positions for health praticioners to offer the expertise others.</p>
        </div>
        
    </div>
    <!--=== End Job Img ===-->
</div>
    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Begin Service Block -->
        <div class="row margin-bottom-10">
            <div class="col-md-60 col-sm-60">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg"></div>
                    <i class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">Why work for us?</h2>
                    <p>We are a tight-knit group that can provide flexible hours and dynamic relationships. </p>
                    <p>Here at 247Clinic we will take the time to help train and equip you with 
                    skills to help you reach your maximum potential</p>
                </div>
            </div>
          
        </div>
        <!-- End Begin Service Block -->