<% provide(:title, t('content.michael;')) %>

   
<body>
<div class="wrapper">
    

    <!--=== Team v5 ===-->
    <div class="container">
        <div class="headline-center margin-bottom-1">
        </div>

        <div class="row team-v5 margin-bottom-30">
            
            
            <div class="col-sm-3">
                <div class="team-img">
                    <%= image_tag 'MichaelQ.jpg', size: "16x300"  %>
                </div>
            </div>
                <h3 align="left"> Michael JunHao Qiu </h3>
                <h6 align="left">Medical Practitioner</h6>
                <hr style="height:1px; border:none; color:#808080; background-color:#808080;" />
               <p align = "left">Michael Junhao Qiu is a Canadian student studying medicine at the University of Edinburgh. 
               He obtained a Bachelor of Science (Hons) from the University of St. Andrew's Faculty of Medicine prior to his clinical training. 
               Michael is a medical board member of Health Choices First, an advanced North American medical directory & video site, featuring more than 1,500 
               health and lifestyle videos. He is the founder and current chair of the Association of Medical Opportunities for Canadians, an organization that provides 
               undergraduates and medical students with observership and elective experiences. Michael has a strong interest in eHealth and the the Electronic Medical 
               Record (EMR) systems. Whilst working under his mentors, many of his projects have sparked the interest of telehealth and pharmaceutical companies. He has 
               successfully authored several scientific poster publications and presented at international conferences. </p>
            </div>
        </div><!--/end team v5-->
    </div>
    <!--=== End Team v5 ===-->

    <hr class="margin-bottom-10">

    <!--=== Team v6 ===-->


   
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->


</body>

