<% provide(:title, t('content.thuan')) %>

    
<body>
<div class="wrapper">
    

    <!--=== Team v5 ===-->
    <div class="container">
        <div class="headline-center margin-bottom-1">
        </div>

        <div class="row team-v5 margin-bottom-30">
            
            
            <div class="col-sm-3">
                <div class="team-img">
                    <%= image_tag 'thuanPham.jpg', size: "16x300" %>
                </div>
            </div>
                <h3 align="left"> Thuan Pham B. Sc</h3>
                <h6 align="left">Web Developer</h6>
                <hr style="height:1px; border:none; color:#808080; background-color:#808080;" />
               <p align = "left">Thuan Pham is a graduate from SFU with a degree in Mathematics.</p>
            </div>
        </div><!--/end team v5-->
    </div>
    <!--=== End Team v5 ===-->

    <hr class="margin-bottom-10">

    <!--=== Team v6 ===-->


   
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->



</body>

