<% provide(:title, t('content.jobs')) %>

    <!--=== Team v5 ===-->
    <div class="container">
        <div class="headline-center margin-bottom-1">
        </div>

        <div class="row team-v5 margin-bottom-30">
            
            
            <div class="col-sm-3">
                <div class="team-img">
                    <%= image_tag 'VanceHeadShotcrop.jpg', size: "16x300"  %>
                </div>
            </div>
                <h3 align="left"> Vance Licaros B. A Sc </h3>
                <h6 align="left">Chief Technology Officer</h6>
                <hr style="height:1px; border:none; color:#808080; background-color:#808080;" />
               <p align = "left">"It is better to have loved and lost, than never to have loved at all" </p>
            </div>
        </div><!--/end team v5-->
    </div>
    <!--=== End Team v5 ===-->

    <hr class="margin-bottom-10">

    <!--=== Team v6 ===-->
