<% provide(:title, 'All users') %>
<h1>All users</h1>
<table class="table">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </tr>
</table>

<%= will_paginate @users %>
