<div class="modal fade" tabindex="-1" role="dialog" id="appointment_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="reg-header">Appointment</h4>
      </div>
      <div class="modal-body">
        <div class="field">
          <label>User</label><br>
          <div class="form-group" id='appointment_user'></div>
        </div>
        <div class="non-user-appointment-section">
          <div class="field">
            <label>Email</label><br>
            <div class="form-group" id='appointment_email'></div>
          </div>
          <div class="field">
            <label>Phone</label><br>
            <div class="form-group" id='appointment_phone'></div>
          </div>
        </div>
        <div class="field">
          <label>Clinic</label><br>
          <div class="form-group" id='appointment_clinic'></div>
        </div>
        <div class="field">
          <label>Doctor</label><br>
          <div class="form-group" id='appointment_doctor'></div>
        </div>
        <div class="field">
          <label>Start time</label><br>
          <div class="form-group" id='appointment_start_time'></div>
        </div>
        <!--
        <div class="field">
          <label>End time</label><br>
          <div class="form-group" id='appointment_end_time'></div>
        </div>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
