<div id="chat" data-api-key=<%= Pusher.key %> data-auth-endpoint=<%= pusher_auth_path %> ></div>
<div id="videos">
  <div id="remoteVideoContainer"></div>
  <div id="localVideoContainer"></div>
  <div class="dl dl-horizontal" id="messages"></div>
</div>
